parameters:
    level: 6
    paths:
        - src

    ignoreErrors:
        - '#with no value type specified in iterable type array#'
        - '#type has no value type specified in iterable type array.#'
        - '#generic class Shopware\\Core\\Framework\\Struct\\ArrayStruct does not specify its types#'
        - '#generic class Shopware\\Core\\Framework\\Struct\\ArrayStruct but does not specify its types#'
        - '#has unknown class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepositoryInterface as its type#'
        - '#on an unknown class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepositoryInterface.#'
        - '#has invalid type Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepositoryInterface.#'
        # only for Shopware 6.4.14.x ignore error, which is related to php-doc
        - '#Class .+Collection @extends tag contains incompatible type iterable<.+Entity>&Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityCollection#'

    reportUnmatchedIgnoredErrors: false
    tipsOfTheDay: false
    bootstrapFiles:
        - ../../../vendor/autoload.php
