parameters:
    level: 6
    paths:
        - %currentWorkingDirectory%/src

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'
        - '#opcache_#'
        - '#imagettftext#'
        - '#class Redis#'
        - '#Constant STARTTIME#'
        - '#EntityRepositoryInterface#'
        - '#Repository with no type specified#'

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    tipsOfTheDay: false
    bootstrapFiles:
        - ../../../vendor/autoload.php
