{% block billie_test_credentials_button %}
    <div class="billie-test-credentials-button">
        {% block billie_test_credentials_button_process_button %}
            <sw-button-process
                class="billie-test-credentials-button__process-button"
                :isLoading="isLoading"
                :processSuccess="isTestSuccessful"
                :disabled="isLoading"
                @click.prevent="testCredentials"
                @process-finish="onTestFinish"
                block>
                {{ $tc('billie.config.testCredentialsButton.text') }}
            </sw-button-process>
        {% endblock %}
    </div>
{% endblock %}
