<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API Mode</title>
        <title lang="de-DE">API Modus</title>

        <input-field type="bool">
            <name>sandbox</name>
            <label>Sandbox</label>
            <label lang="de-DE">Testmodus</label>
            <value>0</value>
        </input-field>
    </card>

    <card>
        <title>Live API</title>
        <title lang="de-DE">Live API</title>

        <input-field type="text">
            <name>liveClientId</name>
            <label>Client ID</label>
            <label lang="de-DE">Client ID</label>
        </input-field>

        <input-field type="password">
            <name>liveClientSecret</name>
            <label>Client Secret</label>
            <label lang="de-DE">Client Secret</label>
        </input-field>

        <component name="billie-test-credentials-button">
            <name>testLiveClientCredentialsButton</name>
            <apiMode>live</apiMode>
        </component>

    </card>

    <card>
        <title>Test API</title>
        <title lang="de-DE">Test API</title>

        <input-field type="text">
            <name>testClientId</name>
            <label>Client ID</label>
            <label lang="de-DE">Client ID</label>
        </input-field>

        <input-field type="password">
            <name>testClientSecret</name>
            <label>Client Secret</label>
            <label lang="de-DE">Client Secret</label>
        </input-field>

        <component name="billie-test-credentials-button">
            <name>testTestClientCredentialsButton</name>
            <apiMode>test</apiMode>
        </component>

    </card>

    <card>
        <title>Salutations</title>
        <title lang="de-DE">Anreden</title>

        <!-- it does not make any sense - but the `input-field`-tag must be before a `component`-tag -->
        <input-field type="single-select">
            <name>salutationFallback</name>
            <label>Salutation (Fallback)</label>
            <label lang="de-DE">Anrede (Fallback)</label>
            <defaultValue>m</defaultValue>
            <required>true</required>
            <options>
                <option>
                    <id>m</id>
                    <name>Male</name>
                    <name lang="de-DE">Herr</name>
                </option>
                <option>
                    <id>f</id>
                    <name>Female</name>
                    <name lang="de-DE">Frau</name>
                </option>
            </options>
        </input-field>

        <component name="sw-entity-single-select">
            <name>salutationMale</name>
            <label>Salutation (Male)</label>
            <label lang="de-DE">Anrede (Mann)</label>
            <entity>salutation</entity>
            <labelProperty>displayName</labelProperty>
            <required>true</required>
        </component>

        <component name="sw-entity-single-select">
            <name>salutationFemale</name>
            <label>Salutation (Female)</label>
            <label lang="de-DE">Anrede (Frau)</label>
            <entity>salutation</entity>
            <labelProperty>displayName</labelProperty>
            <required>true</required>
        </component>
    </card>

    <card>
        <title>Notification about state changes</title>
        <title lang="de-DE">Übertragen der Statusveränderung</title>

        <input-field type="bool">
            <name>stateEnabled</name>
            <label>Enable</label>
            <label lang="de-DE">Aktivieren</label>
            <value>0</value>
        </input-field>

        <!-- waiting for this to provide more options: https://issues.shopware.com/issues/NEXT-7670 -->
        <input-field type="single-select">
            <name>stateShipped</name>
            <options>
                <option>
                    <id>shipped</id>
                    <name>Shipped</name>
                    <name lang="de-DE">Ausgeliefert</name>
                </option>
            </options>
            <defaultValue>shipped</defaultValue>
            <label>Status for shipment</label>
            <label lang="de-DE">Status für die Lieferung</label>
        </input-field>

        <!-- waiting for this to provide more options: https://issues.shopware.com/issues/NEXT-7670 -->
        <input-field type="single-select">
            <name>stateCanceled</name>
            <options>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                </option>
            </options>
            <defaultValue>cancelled</defaultValue>
            <label>Status for cancellation</label>
            <label lang="de-DE">Status für die Stornierung</label>
        </input-field>
    </card>
</config>
