<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API</title>
        <title lang="de-DE">API</title>

        <input-field type="bool">
            <name>sandbox</name>
            <label>Sandbox</label>
            <label lang="de-DE">Testmodus</label>
            <value>0</value>
        </input-field>

        <input-field type="text">
            <name>clientId</name>
            <label>Client ID</label>
            <label lang="de-DE">Client ID</label>
        </input-field>

        <input-field type="password">
            <name>clientSecret</name>
            <label>Client secret</label>
            <label lang="de-DE">Client Secret</label>
        </input-field>

    </card>

    <card>
        <title>Salutations</title>
        <title lang="de-DE">Anreden</title>

        <!-- it does not make any sense - but the `input-field`-tag must be before a `component`-tag -->
        <input-field type="single-select">
            <name>salutationFallback</name>
            <label>Salutation (Fallback)</label>
            <label lang="de-DE">Anrede (Fallback)</label>
            <options>
                <option>
                    <id>m</id>
                    <name>Male</name>
                    <name lang="de-DE">Herr</name>
                </option>
                <option>
                    <id>w</id>
                    <name>Female</name>
                    <name lang="de-DE">Frau</name>
                </option>
            </options>
        </input-field>

        <component name="sw-entity-single-select">
            <name>salutationMale</name>
            <label>Salutation (Male)</label>
            <label lang="de-DE">Anrede (Mann)</label>
            <entity>salutation</entity>
            <labelProperty>displayName</labelProperty>
        </component>

        <component name="sw-entity-single-select">
            <name>salutationFemale</name>
            <label>Salutation (Female)</label>
            <label lang="de-DE">Anrede (Frau)</label>
            <entity>salutation</entity>
            <labelProperty>displayName</labelProperty>
        </component>


    </card>
</config>
